<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Assignment2.Properties.Settings.Assignment2ConnectionString" connectionString="Data Source=MEOMEO-PC\SQLEXPRESS;Initial Catalog=Assignment2;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Assignment2Entities" connectionString="metadata=res://*/BugByProject.csdl|res://*/BugByProject.ssdl|res://*/BugByProject.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MEOMEO-PC\SQLEXPRESS;initial catalog=Assignment2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Assignment2Entities1" connectionString="metadata=res://*/BugByProjectReport.csdl|res://*/BugByProjectReport.ssdl|res://*/BugByProjectReport.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MEOMEO-PC\SQLEXPRESS;initial catalog=Assignment2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Assignment2Entities2" connectionString="metadata=res://*/Assignment1Entity.csdl|res://*/Assignment1Entity.ssdl|res://*/Assignment1Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MEOMEO-PC\SQLEXPRESS;initial catalog=Assignment2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Assignment2Entities3" connectionString="metadata=res://*/BugRatingModel.csdl|res://*/BugRatingModel.ssdl|res://*/BugRatingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MEOMEO-PC\SQLEXPRESS;initial catalog=Assignment2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Assignment2Entities4" connectionString="metadata=res://*/BugRating.csdl|res://*/BugRating.ssdl|res://*/BugRating.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MEOMEO-PC\SQLEXPRESS;initial catalog=Assignment2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Assignment2Entities5" connectionString="metadata=res://*/BugRatingModel.csdl|res://*/BugRatingModel.ssdl|res://*/BugRatingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MEOMEO-PC\SQLEXPRESS;initial catalog=Assignment2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Assignment2Entities6" connectionString="metadata=res://*/AssignedToMember.csdl|res://*/AssignedToMember.ssdl|res://*/AssignedToMember.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MEOMEO-PC\SQLEXPRESS;initial catalog=Assignment2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Assignment2Entities7" connectionString="metadata=res://*/ReportBugPerStatus.csdl|res://*/ReportBugPerStatus.ssdl|res://*/ReportBugPerStatus.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MEOMEO-PC\SQLEXPRESS;initial catalog=Assignment2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Assignment2Entities8" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MEOMEO-PC\SQLEXPRESS;initial catalog=Assignment2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>